<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:dubbo="http://dubbo.apache.org/schema/dubbo" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


	<context:component-scan base-package="com.itheima.service" />
<!--dubbo的配置-->
	<dubbo:application name="dubbo-service" />
	<!--配置zookeeper注册中心-->
	<!--dubbo:registry address="zookeeper://127.0.0.1:2181"-->
	<dubbo:registry address="zookeeper://192.168.127.12:2181" />
	<!--进行dubbo包扫描-->
	<dubbo:annotation package="com.itheima.service.impl" />
	<!--配置dubbo协议-->
	<!--<dubbo:protocol name="dubbo" port="20880" />-->
	<!--配置服务提供者-->
	<!--<dubbo:service interface="service.UserService" ref="userService" />-->
	<!--配置服务消费者-->
	<!--<dubbo:reference id="userService" interface="service.UserService" />-->
</beans>
